.createPostModal {
  background-color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid gray;
  height: 28vh;
}

.modalTitle {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  float: left;
}

.textInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 4rem;
}

.submitButton {
  background-color: #1da1f2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  float: right;
}

.submitButton:hover {
  background-color: #0d8ddb;
}
.container {
  display: flex;
  width: 100%;
}
.left {
  width: 15%;
  overflow: hidden;
  object-fit: cover;
  height: 18vh;
}
.right {
  width: 85%;
  padding-left: 0;
  padding-right: 5%;
}
.left img {
  padding-left: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  float: left;
}
