.container {
  width: 100vw;
  height: 100vh;
  background-color: #2e2d2df0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}
img {
  width: 50%;
  height: 90%;
  border-radius: 25px;
}
