.LeftSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 25%;
  background-color: #fbf9fc; /* Very light purple */
  color: #4a148c; /* Dark purple for text */
  padding: 20px;
  border-right: 1px solid black;
}

.upper {
  flex: 1;
}

.upper h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  color: #4a148c; /* Dark purple */
}

.upper ul {
  list-style-type: none;
  padding: 0;
}

.upper li {
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  color: #4a148c; /* Dark purple */
  font-size: 1.3rem;
  border-radius: 15px; /* Larger border radius */
}

.upper li:hover {
  background-color: #e1bee7; /* Slightly darker light purple */
  transform: translateX(5px);
}

.down {
  padding-top: 20px;
  text-align: center;
}

.logoutButton {
  background-color: #ba68c8; /* Medium purple */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px; /* Larger border radius */
  transition: background-color 0.3s;
  float: left;
}

.logoutButton:hover {
  background-color: red; /* Slightly darker medium purple */
}
