.MainBar {
  width: 50%;
  border-right: 1px solid black;
  height: 100vh;
  background-color: #fbf9fc; /* Very light purple */
  margin-left: 25%;
  overflow: hidden;
}
@media (max-width: 900px) {
  .MainBar {
    width: 75%;
  }
}
