.RightSidebar {
  background-color: #fbf9fc; /* Very light purple */
  position: fixed;
  right: 0;
  width: 20%;
  top: 60px;
  height: calc(100vh - 60px);
}
@media (max-width: 900px) {
  .RightSidebar {
    display: none;
  }
}
