.postContainer {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.postSubheader {
  width: 100%;
  margin-bottom: 2vh;
}

.postName {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.postTime {
  font-size: 0.8rem;
  color: #999;
}

.postMain {
  font-size: 1rem;
  color: #444;
}
.likeRow {
  width: 100%;
  padding: 15px;
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.icon:hover {
  cursor: pointer;
}
.options {
  font-size: 1.4rem;
}
.options:hover {
  cursor: pointer;
}
